# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (vendor folder)
vendor/

# IDE folders
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.s

# Log files
*.log

# gzipped tar files
*.tar.gz

# Temporary files
*.tmp
